/**
* Site header
*/

.fullwidth-content-box {
  min-height: 300px;
  @include media-query($on-laptop) {
    min-height: 200px;
  }
  @include media-query($on-palm) {
    min-height: 150px;
  }

}
.header {
  background-color: $color1;
  @extend .fullwidth-content-box;
}

#about {
  background-color: $color2;
  @extend .fullwidth-content-box;
  padding: 20px;
}

#examples {
  padding: 0;
  @extend .fullwidth-content-box;
  img {
    width: 100%;
  }
}

#contact {
  background-color: $color4;
  @extend .fullwidth-content-box;
}

#nav {
  font-family: $header;
  background-color: rgba(75, 75, 75, .9);
  margin: 0;
  color: $color5;
  a {
    color: $color3;
    border-radius: 0;
  }
  a:hover {
    color: white;
    background-color: transparent;
  }
  li.active {
    background-color: rgb(50, 50, 50);
  }
}


/**
* Page content
*/
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
* Posts
*/
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    font-family: $header;
  }

  h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
