
.fullwidth-content-box {
  min-height: 300px;
  @include media-query($on-laptop) {
    min-height: 200px;
  }
  @include media-query($on-palm) {
    min-height: 150px;
  }
}


// ::::::::::::: navigation :::::::::::::

#nav {
  font-family: $header;
  background-color: rgba(75, 75, 75, 1);
  margin: 0 auto;
  color: $color5;

  a {
    color: $color3;
    border-radius: 0;
  }
  a:hover {
    color: $color2;
  }
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: rgb(50, 50, 50);
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
}



// ::::::::::::: landing page :::::::::::
// ::::::::::::: color rows :::::::::::::

#home {
  margin-top: 40px;
  padding: 50px;
  background-color: $color3;
  @extend .fullwidth-content-box;
  img {
    border: 5px solid white;
    margin: 10px;
    width: 40%;
    max-width: 350px;
    box-shadow: 3px 3px 3px rgba(75, 75, 75, .8);
  }
}

.title {
  color: $color5;
  padding: 20px 10px;
  text-shadow: 1px 1px 3px rgba(50, 50, 75, .8);
}

.portraits {
  margin: 10px auto;
  padding: 10px;
}

#about {
  background-color: $color2;
  @extend .fullwidth-content-box;
  padding: 50px;
  h2 {
    color: $color4;
  }
}

#examples {
  padding: 0;
  @extend .fullwidth-content-box;
  img {
    width: 100%;
  }
}

#contact {
  background-color: $color4;
  @extend .fullwidth-content-box;
  padding: 50px;
  color: white;
  a {
    color: $color5;
    font-size: 25px;
  }
  a:hover {
    color: $color2;
    text-decoration: none;
  }
}



// ::::::::::: page content :::::::::::

.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}




// ::::::::::: posts :::::::::::

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    font-family: $header;
  }

  h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
